/** @format */

.line {
  margin-bottom: 35px;
}
.abstract {
  line-height: 1.7;
  font-size: 16px;
  color: gray;
  margin-top: 20px;
  margin-bottom: 23px;
}
.download {
  background-color: #f7e8b8;
}
.download1 {
  font-size: 18px;
}
.skills li {
  padding-bottom: 6px;
  padding-top: 6px;
  border-bottom: 1px solid #80808047;
  font-size: 20px;
  color: #5c2b2b;
}
.skills1 {
  margin-left: 5px;
  text-align: center;
}
@media (max-width: 768px) {
  .skills1 {
    margin-top: 25px;
  }
}
